.artist-card {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  max-width: 85vw;
  min-height: 80px;
  max-height: 150px;
  margin: 5vh auto;
  padding: 5px 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 1);
}

.artist-card:hover {
  box-shadow: 0 0 10px 3px rgb(0, 0, 0);
}

.artist-card:active {
  box-shadow: 0 0 7px 1px rgb(104, 232, 255);
}